{% extends 'cats/base.html' %}
{% load static %}
{% load cat_tags %}
{% block content %}
    {% get_categories as categories %}
    <div class="container">
        <div class="row gx-0 justify-content-lg-center d-flex align-items-center">
            <div class="col-lg-4 col-md-6 h2 text-center">Currently {{ picture_count }} relatable cat pictures are here</div>
            <div class="col-lg-4 col-md-6">
                <img class="img-fluid w-100"
                     src="{% static 'cats/images/sneese_cat.jpg' %}"
                     alt="">
            </div>
        </div>
        <div class="row gx-0 justify-content-lg-center d-flex align-items-center">
            <div class="col-lg-4 col-md-6 h2 text-center order-0 order-md-2">
                In {{ categories.count }} different
                categories
            </div>
            <div class="col-lg-4 col-md-6">
                <img class="img-fluid w-100"
                     src="{% static 'cats/images/sad_cat.jpg' %}"
                     alt="">
            </div>
        </div>
        <div class="row gx-0 justify-content-lg-center d-flex align-items-center pb-3">
            <div class="col-lg-4 col-md-6 h2 text-center">
                So what are you thinking about?
                <br>
                Join us!
            </div>
            <div class="col-lg-4 col-md-6">
                <img class="img-fluid w-100"
                     src="{% static 'cats/images/teeth_cat.jpg' %}"
                     alt="">
            </div>
        </div>
    </div>
{% endblock %}
