{% extends 'cats/base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center border-bottom border-dark my-4 pb-4">{{ title }}</h1>
<div class="container pb-4">
    <div class="row gx-0 justify-content-lg-center d-flex align-items-center">
        <div class="col-lg-4 col-md-6 col-12 h1 text-center">Currently {{ picture_count }} relatable cat pictures are here
        </div>
        <div class="col-lg-4 col-md-6 col-12"><img class="img-fluid w-100" src={% static 'cats/images/sneese_cat.jpg' %} alt=""></div>
    </div>
    <div class="row gx-0 justify-content-lg-center d-flex align-items-center">
        <div class="col-lg-4 col-md-6 col-12 d-md-none h1 text-center">In {{ category_count }} different
            categories</div>
        <div class="col-lg-4 col-md-6 col-12"><img class="img-fluid w-100" src={% static 'cats/images/sad_cat.jpg' %} alt=""></div>
        <div class="col-lg-4 col-md-6 col-12 d-none d-md-inline h1 text-center">In {{ category_count }} different
            categories</div>
    </div>
    <div class="row gx-0 justify-content-lg-center d-flex align-items-center pb-3">
        <div class="col-lg-4 col-md-6 col-12 h1 text-center">So what are you thinking? Join us!</div>
        <div class="col-lg-4 col-md-6 col-12"><img class="img-fluid w-100" src={% static 'cats/images/teeth_cat.jpg' %} alt=""></div>
    </div>
</div>
{% endblock %}