{% extends 'cats/base.html' %}


{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-lg-6">
        <form action={% url 'addpost' %} method="post">
            {% csrf_token %}
            <label class='form-label' for={{ form.title.id_for_label }}>{{ form.title.label }}</label>
            {{ form.title }}
            <label class='form-label' for={{ form.description.id_for_label }}>{{ form.description.label }}</label> 
            {{ form.description }}
            <input class="btn btn-success" type="submit" value="Submit kitty!">
        </form>
    </div>
</div>

{% endblock %}