{% extends 'cats/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mb-5">
    <form action={% url 'addpost' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-row row">
            <div class="col-md-3"></div>
            {% if field.label == "Description" %}
            <div class="col-md-6">
                {% else %}
                <div class="col-md-3">
                    {% endif %}
                    {{ field|as_crispy_field }}
                </div>
            </div>
            {% endfor %}
            <div class="form-row row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button class="btn btn-success" type="submit">Submit!</button>
                </div>
            </div>
    </form>
</div>


{% endblock %}