{% extends 'cats/base.html' %}

{% block content %}
<p>
    Scroll down for kitties, use search field at the top, or discover some fluffballs in different categories!
</p>

{% for post in posts %}
<div class="row justify-content-center border-bottom border-dark my-2 py-2">
    <div class="col-md-3">
        <img src={{ post.photo.url }} alt="" class="w-100">
    </div>
    <div class="col-md-5">
        <h4>
            {{ post.title }}
        </h4>
        <p>
            {{ post.description|truncatechars:50 }}
        </p>
        <a href={{ post.get_absolute_url }} class="btn btn-primary">More...</a>
    </div>
</div>

{% endfor %}


{% endblock %}