{% extends 'cats/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="post">
            {% if form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>{% endif %}
            {% csrf_token %}
            {% for field in form %}
                <div class="form-row row">
                    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">{{ field|as_crispy_field }}</div>
                </div>
            {% endfor %}
            <div class="form-row row">
                <div class="col-md-4 offset-md-2 col-lg-3 offset-lg-3">
                    <button class="btn btn-success" type="submit">Login!</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
